<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ShopUser">
	<resultMap id="BaseResultMap" type="com.taylor.api.shop.entity.ShopUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="school" property="school" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		name,
		age,
		sex,
		school
	</sql>

	<sql id="common_where">
		where 1 = 1
		<trim  suffixOverrides=",">
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(id)">
				and id = #{id,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(name)">
				and name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(age)">
				and age = #{age,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(sex)">
				and sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(school)">
				and school = #{school,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shop_user
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			id = #{id,jdbcType=INTEGER}
		</trim>
	</select>
	<select id="countShopUsers" resultType="java.lang.Integer">
		select count(1)
		from
		shop_user
	</select>

	<select id="queryShopUser" resultMap="BaseResultMap"
		parameterType="com.taylor.api.shop.entity.ShopUser">
		select
		<include refid="Base_Column_List" />
		from shop_user
		<include refid="common_where" />
		limit 1
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from shop_user
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			id = #{id,jdbcType=INTEGER}
		</trim>
	</delete>

	<insert id="insertSelective" parameterType="com.taylor.api.shop.entity.ShopUser">
		insert into shop_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(id)">
				id,
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(name)">
				name,
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(age)">
				age,
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(sex)">
				sex,
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(school)">
				school,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(id)">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(name)">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(age)">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(sex)">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(school)">
				#{school,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.taylor.api.shop.entity.ShopUser">
		update shop_user
		<set>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(id)">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(name)">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(age)">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(sex)">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="@com.taylor.api.common.util.TaylorOgnl@isNotEmpty(school)">
				school = #{school,jdbcType=VARCHAR},
			</if>
		</set>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			id = #{id,jdbcType=INTEGER}
		</trim>
	</update>
</mapper>